@import "reset";
@import "var";
@import "https://fonts.googleapis.com/css?family=Raleway:400,800";
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

body{
	font-family: $fuente;
	max-width: 1200px;
	margin: auto;
}

nav#menu{
	position:relative;
	top:30px;
	
	img{
		margin-left: 70px;
	}

	ul{
		float:right;
		li{
			display: inline-block;
			margin-right: 70px;
			margin-top: 10px;
			text-transform:uppercase;
			a{
				text-decoration:none;
				color: $color-primario;
				&:hover{
					color:$color-terciario;
				}
			}
		}
	}
}

section#contact{
	margin-top:60px;
	width:1200px;
	height:600px;
	background-image:url(../assets/indexbanner-bg2.jpg);
	position:relative;
}

.contact-title{
	position:absolute;
	top:200px;
	right:70px;
	bottom:70px;
	left:70px;
}

h1{
	font-size:45px;
	color:$color-secundario;
	text-align:center;
}

h2{
	font-size:30px;
	color:$color-primario;
	text-align:center;
}

h3{
	font-size:10px;
	letter-spacing:1px;
	color:$color-secundario;
	text-align:center;
	line-height:130%;
}

h4{
	font-size:10px;
	letter-spacing:1px;
	color:$color-primario;
	text-align:center;
	line-height:130%;
}

section#form{
	margin-top:60px;
	width:1200px;
	height:400px;
	color:$color-primario;
}

input{
	display: block;
    width: 400px;
    height: 45px;
    margin-top: 25px;
    margin-left: 180px;
    padding-left: 10px;
    font-family: $fuente;
}

textarea{
	float: right;
    width: 400px;
    height: 190px;
    position: relative;
    bottom: 202px;
    right: 130px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: $fuente;

}

button{
	width: 230px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #3DA6EE;
    border:none;
    border-radius:5px;
    margin-top: 25px;
    margin-left: 507px;
}

section#hosting{
	width:1200px;
	height:150px;
	background-color:#0C2340;
	position:relative;
}

.hosting-text{
	font-size:20px;
	color:$color-secundario;
	position:absolute;
	top: 65px;
    left: 23%;
}

footer{
	width:1200px;
	height:100px;
	background-color:#050B15;
	position:relative;

	ul{
		float:right;
		margin-right: 255px;

		li{
			display: inline-block;
			margin-right: 70px;
			margin-top: 50px;
			text-transform:uppercase;
			font-size: 10px;
			a{
				text-decoration:none;
				color: $color-secundario;
				&:hover{
					color:$color-terciario;
				}
			}
		}
	}
}		